<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>720</integer>
    <key>capHeight</key>
    <integer>640</integer>
    <key>copyright</key>
    <string>catloaf / Original design of letterforms by SQUARE ENIX CO., LTD.</string>
    <key>descender</key>
    <integer>-80</integer>
    <key>familyName</key>
    <string>Augmented Norvrandt</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2024/05/18 23:58:35</string>
    <key>openTypeNameDescription</key>
    <string>A re-work of Norvrandt typeface with extended language support and Opentype features. The original letterforms were from Norvrandt standard alphabets in Encyclopaedia Eorzea III - The World of FINAL FANTASY XIV.
All company, product, and system names mentioned herein are trademarks or registered trademarks of their respective companies.</string>
    <key>openTypeNameDesigner</key>
    <string>catloaf</string>
    <key>openTypeNameLicense</key>
    <string>MIT License

Copyright (c) 2024 Catloaf

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</string>
    <key>openTypeNameManufacturer</key>
    <string>catloaf</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://linktr.ee/catloaf97</string>
    <key>openTypeNameRecords</key>
    <array>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>2052</integer>
        <key>nameID</key>
        <integer>9</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>猫面包</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>2052</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>猫面包</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>catloaf / Original design of letterforms by SQUARE ENIX CO., LTD.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>2052</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>猫面包 / 源字形设计来自 SQUARE ENIX CO., LTD.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>10</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>A re-work of Norvrandt typeface with extended language support and Opentype features. The original letterforms were from Norvrandt standard alphabets in Encyclopaedia Eorzea III - The World of FINAL FANTASY XIV.
All company, product, and system names mentioned herein are trademarks or registered trademarks of their respective companies.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>2052</integer>
        <key>nameID</key>
        <integer>10</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>改良型诺弗兰特文字进行了再设计，增加了更多语言支持与 Opentype 特性。
源字形来自《艾欧泽亚百科全书II》的诺弗兰特文字字母表。
此处提及的所有公司、产品和系统名称均为其各自公司的商标或注册商标。</string>
      </dict>
    </array>
    <key>openTypeNameSampleText</key>
    <string>One brings shadow, one brings light
Two-toned echoes tumbling through time
Threescore wasted, ten cast aside
Four-fold knowing, no end in sight</string>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>480</integer>
      <integer>496</integer>
      <integer>640</integer>
      <integer>656</integer>
      <integer>720</integer>
      <integer>736</integer>
    </array>
    <key>postscriptFontName</key>
    <string>AugmentedNorvrandt-Regular</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-96</integer>
      <integer>-80</integer>
    </array>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>480</integer>
  </dict>
</plist>
