<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevetilde</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflextilde</string>
      <string>Adieresis</string>
      <string>Adieresismacron</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Icaron</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idieresisacute</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocaron</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflextilde</string>
      <string>Odieresis</string>
      <string>Odieresismacron</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Omacronacute</string>
      <string>Omacrongrave</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Otildeacute</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.RAB</key>
    <array>
      <string>AE</string>
      <string>B</string>
      <string>Bdotbelow</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcircumflexbelow</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
      <string>Dmacronbelow</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecedilla</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflextilde</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncircumflexbelow</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Ndotbelow</string>
      <string>Ntilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcircumflexbelow</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>Tmacronbelow</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Ytilde</string>
      <string>Ncommaaccent.loclMAH</string>
      <string>b</string>
      <string>bdotbelow</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icaron</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idieresisacute</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
    </array>
    <key>public.kern1.RCB</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
      <string>IJ</string>
      <string>J</string>
      <string>Jacute</string>
      <string>Jcircumflex</string>
      <string>M</string>
      <string>Macute</string>
    </array>
    <key>public.kern1.RT</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcircumflexbelow</string>
      <string>Lcommaaccent</string>
      <string>Ldotbelow</string>
      <string>Lslash</string>
      <string>Lcommaaccent.loclMAH</string>
    </array>
    <key>public.kern1.RxB</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevetilde</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflextilde</string>
      <string>adieresis</string>
      <string>adieresismacron</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcircumflexbelow</string>
      <string>ddotbelow</string>
      <string>dmacronbelow</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecedilla</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflextilde</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
      <string>ij</string>
      <string>j</string>
      <string>jdotless</string>
      <string>jacute</string>
      <string>jcircumflex</string>
      <string>m</string>
      <string>macute</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncircumflexbelow</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>ndotbelow</string>
      <string>ntilde</string>
      <string>oe</string>
      <string>q</string>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcircumflexbelow</string>
      <string>tcommaaccent</string>
      <string>tdotbelow</string>
      <string>tmacronbelow</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>ytilde</string>
      <string>ncommaaccent.loclMAH</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotbelow</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Germandbls</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocaron</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflextilde</string>
      <string>odieresis</string>
      <string>odieresismacron</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>omacronacute</string>
      <string>omacrongrave</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>otildeacute</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.rt</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcircumflexbelow</string>
      <string>lcommaaccent</string>
      <string>ldotbelow</string>
      <string>lslash</string>
      <string>lcommaaccent.loclMAH</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotbelow</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>germandbls</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevetilde</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflextilde</string>
      <string>Adieresis</string>
      <string>Adieresismacron</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern2.D</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcircumflexbelow</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
      <string>Dmacronbelow</string>
      <string>Eth</string>
    </array>
    <key>public.kern2.E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecedilla</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflextilde</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
    </array>
    <key>public.kern2.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Icaron</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idieresisacute</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jacute</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern2.LAB</key>
    <array>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcircumflexbelow</string>
      <string>Lcommaaccent</string>
      <string>Ldotbelow</string>
      <string>Lslash</string>
      <string>M</string>
      <string>Macute</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncircumflexbelow</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Ndotbelow</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotbelow</string>
      <string>Germandbls</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
      <string>Lcommaaccent.loclMAH</string>
      <string>Ncommaaccent.loclMAH</string>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcircumflexbelow</string>
      <string>tcommaaccent</string>
      <string>tdotbelow</string>
      <string>tmacronbelow</string>
    </array>
    <key>public.kern2.LAB_V</key>
    <array>
      <string>B</string>
      <string>Bdotbelow</string>
      <string>V</string>
    </array>
    <key>public.kern2.LxB</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecedilla</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflextilde</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>h</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcircumflexbelow</string>
      <string>lcommaaccent</string>
      <string>ldotbelow</string>
      <string>lslash</string>
      <string>m</string>
      <string>macute</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncircumflexbelow</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>ndotbelow</string>
      <string>ntilde</string>
      <string>p</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotbelow</string>
      <string>germandbls</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
      <string>lcommaaccent.loclMAH</string>
      <string>ncommaaccent.loclMAH</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocaron</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflextilde</string>
      <string>Odieresis</string>
      <string>Odieresismacron</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Omacronacute</string>
      <string>Omacrongrave</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Otildeacute</string>
      <string>OE</string>
    </array>
    <key>public.kern2.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcircumflexbelow</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>Tmacronbelow</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevetilde</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflextilde</string>
      <string>adieresis</string>
      <string>adieresismacron</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>bdotbelow</string>
    </array>
    <key>public.kern2.d</key>
    <array>
      <string>d</string>
      <string>dcaron</string>
      <string>dcircumflexbelow</string>
      <string>dcroat</string>
      <string>ddotbelow</string>
      <string>dmacronbelow</string>
      <string>eth</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icaron</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idieresisacute</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>ij</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
      <string>jdotless</string>
      <string>jacute</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern2.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocaron</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflextilde</string>
      <string>odieresis</string>
      <string>odieresismacron</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>omacronacute</string>
      <string>omacrongrave</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>otildeacute</string>
      <string>oe</string>
    </array>
    <key>public.kern2.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>ytilde</string>
    </array>
  </dict>
</plist>
