<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>C</key>
      <integer>10</integer>
      <key>Y</key>
      <integer>-10</integer>
      <key>a</key>
      <integer>-20</integer>
      <key>i</key>
      <integer>-20</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.o</key>
      <integer>20</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>J</key>
      <integer>-30</integer>
      <key>K</key>
      <integer>-20</integer>
      <key>Q</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-50</integer>
      <key>d</key>
      <integer>-30</integer>
      <key>i</key>
      <integer>-30</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>k</key>
      <integer>-30</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>10</integer>
      <key>v</key>
      <integer>-10</integer>
      <key>y</key>
      <integer>-20</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>A</key>
      <integer>-120</integer>
      <key>C</key>
      <integer>-20</integer>
      <key>D</key>
      <integer>-80</integer>
      <key>I</key>
      <integer>-50</integer>
      <key>J</key>
      <integer>-20</integer>
      <key>K</key>
      <integer>-30</integer>
      <key>R</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-50</integer>
      <key>a</key>
      <integer>-120</integer>
      <key>b</key>
      <integer>-40</integer>
      <key>d</key>
      <integer>-90</integer>
      <key>i</key>
      <integer>-20</integer>
      <key>j</key>
      <integer>-20</integer>
      <key>k</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>u</key>
      <integer>-30</integer>
      <key>y</key>
      <integer>-60</integer>
    </dict>
    <key>I</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>C</key>
      <integer>-20</integer>
      <key>E</key>
      <integer>-40</integer>
      <key>F</key>
      <integer>-10</integer>
      <key>I</key>
      <integer>-10</integer>
      <key>J</key>
      <integer>-20</integer>
      <key>K</key>
      <integer>-20</integer>
      <key>Q</key>
      <integer>-10</integer>
      <key>R</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-70</integer>
      <key>a</key>
      <integer>-50</integer>
      <key>b</key>
      <integer>-30</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>i</key>
      <integer>-60</integer>
      <key>j</key>
      <integer>-30</integer>
      <key>k</key>
      <integer>-30</integer>
      <key>public.kern2.LAB</key>
      <integer>-20</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-30</integer>
      <key>public.kern2.LxB</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>q</key>
      <integer>-70</integer>
      <key>v</key>
      <integer>-40</integer>
      <key>y</key>
      <integer>-30</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-10</integer>
      <key>D</key>
      <integer>-50</integer>
      <key>F</key>
      <integer>-10</integer>
      <key>J</key>
      <integer>-30</integer>
      <key>Q</key>
      <integer>-20</integer>
      <key>R</key>
      <integer>-20</integer>
      <key>a</key>
      <integer>-30</integer>
      <key>i</key>
      <integer>-40</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>i</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>y</key>
      <integer>-20</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>C</key>
      <integer>-40</integer>
      <key>D</key>
      <integer>-70</integer>
      <key>E</key>
      <integer>-20</integer>
      <key>F</key>
      <integer>-20</integer>
      <key>I</key>
      <integer>-30</integer>
      <key>J</key>
      <integer>-40</integer>
      <key>K</key>
      <integer>-20</integer>
      <key>Q</key>
      <integer>-20</integer>
      <key>R</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-20</integer>
      <key>a</key>
      <integer>-30</integer>
      <key>b</key>
      <integer>-40</integer>
      <key>d</key>
      <integer>-30</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>i</key>
      <integer>-50</integer>
      <key>j</key>
      <integer>-60</integer>
      <key>k</key>
      <integer>-30</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-20</integer>
      <key>public.kern2.LxB</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>y</key>
      <integer>-20</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>i</key>
      <integer>-20</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-20</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>D</key>
      <integer>-60</integer>
      <key>I</key>
      <integer>-50</integer>
      <key>J</key>
      <integer>-60</integer>
      <key>K</key>
      <integer>-20</integer>
      <key>R</key>
      <integer>-40</integer>
      <key>Y</key>
      <integer>-20</integer>
      <key>b</key>
      <integer>-40</integer>
      <key>i</key>
      <integer>-20</integer>
      <key>j</key>
      <integer>-70</integer>
      <key>public.kern2.LxB</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>q</key>
      <integer>-80</integer>
      <key>y</key>
      <integer>-30</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>C</key>
      <integer>-40</integer>
      <key>D</key>
      <integer>-60</integer>
      <key>E</key>
      <integer>-30</integer>
      <key>F</key>
      <integer>-20</integer>
      <key>I</key>
      <integer>-40</integer>
      <key>J</key>
      <integer>-20</integer>
      <key>K</key>
      <integer>-20</integer>
      <key>Q</key>
      <integer>-20</integer>
      <key>R</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-30</integer>
      <key>b</key>
      <integer>-40</integer>
      <key>i</key>
      <integer>-50</integer>
      <key>j</key>
      <integer>-70</integer>
      <key>k</key>
      <integer>-20</integer>
      <key>public.kern2.LxB</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>q</key>
      <integer>-30</integer>
      <key>y</key>
      <integer>-20</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>C</key>
      <integer>-40</integer>
      <key>F</key>
      <integer>-20</integer>
      <key>I</key>
      <integer>-20</integer>
      <key>Q</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-40</integer>
      <key>b</key>
      <integer>-40</integer>
      <key>i</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>q</key>
      <integer>-30</integer>
      <key>y</key>
      <integer>-30</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>D</key>
      <integer>-10</integer>
      <key>Y</key>
      <integer>-30</integer>
      <key>a</key>
      <integer>-40</integer>
      <key>i</key>
      <integer>-30</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-20</integer>
      <key>public.kern2.LxB</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.o</key>
      <integer>10</integer>
      <key>y</key>
      <integer>-10</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>A</key>
      <integer>-100</integer>
      <key>D</key>
      <integer>-60</integer>
      <key>J</key>
      <integer>-10</integer>
      <key>Q</key>
      <integer>-30</integer>
      <key>R</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-120</integer>
      <key>d</key>
      <integer>-60</integer>
      <key>i</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>u</key>
      <integer>-20</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>i</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>A</key>
      <integer>-10</integer>
      <key>C</key>
      <integer>-20</integer>
      <key>D</key>
      <integer>-20</integer>
      <key>J</key>
      <integer>-20</integer>
      <key>K</key>
      <integer>-20</integer>
      <key>Q</key>
      <integer>-20</integer>
      <key>R</key>
      <integer>-30</integer>
      <key>U</key>
      <integer>-10</integer>
      <key>Y</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-50</integer>
      <key>d</key>
      <integer>-20</integer>
      <key>i</key>
      <integer>-40</integer>
      <key>j</key>
      <integer>-10</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.RAB</key>
    <dict>
      <key>K</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-20</integer>
      <key>d</key>
      <integer>-10</integer>
      <key>i</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.RCB</key>
    <dict>
      <key>i</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.RT</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>C</key>
      <integer>-40</integer>
      <key>D</key>
      <integer>-50</integer>
      <key>E</key>
      <integer>-30</integer>
      <key>F</key>
      <integer>-20</integer>
      <key>I</key>
      <integer>-30</integer>
      <key>K</key>
      <integer>-40</integer>
      <key>Q</key>
      <integer>-30</integer>
      <key>R</key>
      <integer>-30</integer>
      <key>T</key>
      <integer>-40</integer>
      <key>Y</key>
      <integer>-60</integer>
      <key>a</key>
      <integer>-20</integer>
      <key>b</key>
      <integer>-50</integer>
      <key>i</key>
      <integer>-60</integer>
      <key>k</key>
      <integer>-30</integer>
      <key>public.kern2.LxB</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>q</key>
      <integer>-40</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.RxB</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-20</integer>
      <key>i</key>
      <integer>-30</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-10</integer>
      <key>y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>A</key>
      <integer>-10</integer>
      <key>E</key>
      <integer>-10</integer>
      <key>K</key>
      <integer>-20</integer>
      <key>Q</key>
      <integer>-20</integer>
      <key>U</key>
      <integer>-10</integer>
      <key>Y</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-50</integer>
      <key>i</key>
      <integer>-30</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.rt</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>C</key>
      <integer>-50</integer>
      <key>D</key>
      <integer>-40</integer>
      <key>E</key>
      <integer>-20</integer>
      <key>F</key>
      <integer>-30</integer>
      <key>I</key>
      <integer>-50</integer>
      <key>K</key>
      <integer>-30</integer>
      <key>Q</key>
      <integer>-20</integer>
      <key>R</key>
      <integer>-20</integer>
      <key>T</key>
      <integer>-40</integer>
      <key>Y</key>
      <integer>-60</integer>
      <key>a</key>
      <integer>-20</integer>
      <key>b</key>
      <integer>-50</integer>
      <key>i</key>
      <integer>-40</integer>
      <key>public.kern2.LAB</key>
      <integer>-30</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-30</integer>
      <key>public.kern2.LxB</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>q</key>
      <integer>-40</integer>
      <key>u</key>
      <integer>-10</integer>
      <key>v</key>
      <integer>-40</integer>
      <key>y</key>
      <integer>-60</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>K</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-20</integer>
      <key>i</key>
      <integer>-40</integer>
      <key>public.kern2.LAB</key>
      <integer>-20</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>v</key>
      <integer>-10</integer>
      <key>y</key>
      <integer>-20</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>D</key>
      <integer>-30</integer>
      <key>J</key>
      <integer>-20</integer>
      <key>Q</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-20</integer>
      <key>d</key>
      <integer>-20</integer>
      <key>i</key>
      <integer>-60</integer>
      <key>k</key>
      <integer>-20</integer>
      <key>public.kern2.LAB</key>
      <integer>-20</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>y</key>
      <integer>-20</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>i</key>
      <integer>-30</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>D</key>
      <integer>-60</integer>
      <key>E</key>
      <integer>-30</integer>
      <key>F</key>
      <integer>-20</integer>
      <key>I</key>
      <integer>-50</integer>
      <key>J</key>
      <integer>-20</integer>
      <key>K</key>
      <integer>-40</integer>
      <key>Q</key>
      <integer>-20</integer>
      <key>R</key>
      <integer>-40</integer>
      <key>T</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-60</integer>
      <key>a</key>
      <integer>-20</integer>
      <key>b</key>
      <integer>-30</integer>
      <key>d</key>
      <integer>-10</integer>
      <key>i</key>
      <integer>-40</integer>
      <key>j</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>q</key>
      <integer>-20</integer>
      <key>u</key>
      <integer>-20</integer>
      <key>y</key>
      <integer>-70</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>C</key>
      <integer>-30</integer>
      <key>D</key>
      <integer>-60</integer>
      <key>E</key>
      <integer>-20</integer>
      <key>F</key>
      <integer>-20</integer>
      <key>I</key>
      <integer>-50</integer>
      <key>J</key>
      <integer>-30</integer>
      <key>K</key>
      <integer>-30</integer>
      <key>Q</key>
      <integer>-30</integer>
      <key>R</key>
      <integer>-30</integer>
      <key>T</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-30</integer>
      <key>b</key>
      <integer>-30</integer>
      <key>d</key>
      <integer>-20</integer>
      <key>i</key>
      <integer>-60</integer>
      <key>j</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>u</key>
      <integer>-10</integer>
      <key>y</key>
      <integer>-30</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>C</key>
      <integer>-50</integer>
      <key>D</key>
      <integer>-20</integer>
      <key>F</key>
      <integer>-30</integer>
      <key>I</key>
      <integer>-30</integer>
      <key>K</key>
      <integer>-20</integer>
      <key>Q</key>
      <integer>-40</integer>
      <key>R</key>
      <integer>-20</integer>
      <key>T</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-40</integer>
      <key>b</key>
      <integer>-40</integer>
      <key>i</key>
      <integer>-30</integer>
      <key>k</key>
      <integer>-30</integer>
      <key>public.kern2.LAB_V</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>q</key>
      <integer>-40</integer>
      <key>y</key>
      <integer>-60</integer>
    </dict>
  </dict>
</plist>
